<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Left Alignment of Image</title>
    
    <style>
        body {
            background-color: lightblue;
        }
        img {
            width: 20%;
            height: auto;
        }
        a {
            color: black;
            text-decoration: none;
            font-weight: bold;
        }
        h1 {
            text-align: center;
        }
    </style>
    
</head>
<body>   
	<!-- <img src="https://avatars.githubusercontent.com/u/68907627?v=4" alt="">  -->
	<h1 style="text-align: center;">Welcome to DevOps</h1>
	<h3 style="text-align: center;">Python Django Web Application</h3>  
    <h4 style="text-align: center;">I am Ravi learning Python Django</h4>  
    
    <br>
    <a href="https://github.com/lookatravi" target="_blank"><b>My GitHub</b></a>
    <br>
    <a href="https://www.linkedin.com/in/ravichandran-sundaramurthy-ravi-a2758382" target="_blank"><b>MyLinkedIn</b></a>
</body>
</html>